@tailwind base;
@tailwind components;
@tailwind utilities;
#__next{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  width: 100%;
  height: 100%;
  border: none !important;
  border-top: none !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  width: 100%;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rbc-day-slot .rbc-event, .rbc-day-slot .rbc-background-event{
  border: 1px solid #FAAB4E;
  background-color: #FFF3DA;
  color: #545454;
}

.rbc-events-container {
  margin-right: 1px !important;
}
.rbc-header {
  @apply text-primary-font ;
}

.rbc-time-header .rbc-time-header-content {
  @apply block;
}
.rbc-time-view {
  @apply w-10/12 h-0
}
.rbc-toolbar {
  @apply w-11/12 flex justify-between;
}

.rbc-event-content {
  background-color: white;
}

.bg-orange-200 {
  width: 100%;
}